<div class="login-container">
  <h1>Telegram Bot Admin Panel</h1>
  <p>Manage your Telegram bot effortlessly!</p>
  <div
    id="g_id_onload"
    data-client_id="38861619212-ofhm58i3nr7ps19fq1m0s697amodfpb3.apps.googleusercontent.com"
    data-context="signin"
    data-ux_mode="popup"
    data-login_uri="https://daily-weather-telegram-bot-production.up.railway.app/auth/login"
    data-auto_prompt="false"
  ></div>
  <div
    class="g_id_signin"
    data-type="standard"
    data-shape="rectangular"
    data-theme="filled_blue"
    data-text="Sign in with Google"
    data-size="large"
    data-logo_alignment="left"
  ></div>
</div>
