<mat-toolbar color="primary">
  <span class="spacer"></span>
  <button mat-button (click)="navigateToDashboard()">Dashboard</button>
  <button mat-button (click)="handleSignOut()">Sign Out</button>
</mat-toolbar>

<div class="content">
  <h2>User logged in successfully</h2>
  <br />
  <ng-container *ngIf="userList && userList.length > 0">
    <div class="user-cards">
      <mat-card *ngFor="let user of userList">
        <mat-card-content>
          <div class="user-details">
            <div><strong>User ID:</strong> {{ user.chatId }}</div>
            <div><strong>User City:</strong> {{ user.city }}</div>
            <!-- Add more user details here -->
          </div>
          <div class="action-buttons">
            <mat-icon class="action-icon" (click)="blockUser(user)"
              >block</mat-icon
            >
            <mat-icon class="action-icon" (click)="deleteUser(user)"
              >delete</mat-icon
            >
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
  <ng-container *ngIf="userList && userList.length === 0">
    <p>No users available.</p>
  </ng-container>
</div>
